.description-wrapper{
    display: flex;
    flex-direction: column;
    height: 798px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1170px;
    margin: 125px auto 0;
    position: relative;
    align-content: space-between;
}

.description-wrapper__left{
    max-width: 513px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.description-wrapper__price{
    display: flex;
    gap: 50px;
    align-items: center;
}

.description-wrapper__waves{
    position: absolute;
    z-index: -1;
    top: 70px;
    right: -254px;
}


.description-wrapper__waves > .circle-waves > img {
    width: 625px;
    height: 572px;
    transform: rotateY(180deg);
    filter: drop-shadow(1px 0px 0px var(--color-light-gray));
    opacity: .5;
}

.description-wrapper__reviews{
    position: absolute;
    top: 440px;
    right: 0;
    top:439px;
    right: -134px;
}

.description-wrapper__agents{
    position: absolute;
    right: 454px;
    top: 642px;
}


@media (max-width: 575.98px){ /* Extra Small */
    .description-wrapper__image{
        display: none;
    }
    .description-wrapper__reviews{
        display: none;
    }
    .description-wrapper__agents{
        display: none;
    }

    .description-wrapper{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        align-content: space-between;
        gap: 20px;
        padding: 0 30px;
        margin-bottom: 40px;
    }

    .description-wrapper__image{
        display: none;
    }

    .description-wrapper__title h2{
        font-size: 40px;
        width: 100%;
    }

    .description-wrapper__title{
        width: 100%;
    }

    .description-wrapper__paragraph {
        width: 100%;
    }

    .description-wrapper__information dd {
        scale: .9;
        width: 50%;
        float: left;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){ /* Small */

    .description-wrapper__reviews{
        display: none;
    }
    .description-wrapper__agents{
        display: none;
    }

    .description-wrapper{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        align-content: space-between;
        gap: 20px;
        padding: 0 30px;
        margin-bottom: 40px;
    }

    .description-wrapper__image{
        position: absolute;
        scale: .5;
        left: 30%;
        z-index: -1;
        opacity: .5;
    }

    .description-wrapper__title h2{
        font-size: 40px;
        width: 100%;
    }

    .description-wrapper__title{
        width: 100%;
        max-width: 473px;
    }

    .description-wrapper__information dd {
        scale: .9;
        width: 50%;
        float: left;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){ /* Medium */
    .description-wrapper__reviews{
        display: none;
    }
    .description-wrapper__agents{
        display: none;
    }

    .description-wrapper{
        display: flex;
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        align-content: space-between;
        gap: 20px;
        padding: 0 30px;
        margin-bottom: 40px;
    }

    .description-wrapper__image{
        position: absolute;
        scale: .6;
        left: 43%;
    }

    .description-wrapper__title h2{
        font-size: 50px;
        width: 100%;
    }

    .description-wrapper__title{
        width: 100%;
        max-width: 473px;
    }

    .description-wrapper__paragraph {
        width: 80%;
    }

}

@media (min-width: 992px) and (max-width: 1199.98px){ /* Large */
    .description-wrapper__reviews{
        display: none;
    }
    .description-wrapper{
        display: flex;
        flex-direction: column;
        height: 798px;
        flex-wrap: wrap-reverse;
        justify-content: center;
        max-width: 1170px;
        margin: 125px auto 0;
        position: relative;
        align-content: space-between;
        gap: calc(1vw);
    }
}
