.carousel-wrapper{
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.carousel-wrapper__indicators{
    width: 100%;
}