.logo-rls{
    width: 58px;
    height: 39px;
    background-color: transparent;
    position: relative;
    font-family: var(--font-Dongle);
    font-weight: 700;
    font-size: 29px;
    display: flex;
    align-items: flex-start;
    justify-content: end;  
    overflow: hidden;  
    user-select: none;
}

.logo-rls span{
    margin-top: -3px;
    margin-right: 4px;
    z-index: 1;
}

.logo-rls::after{
    content: '';
    width: 24px;
    height: 36px;
    background: var(--color-green);
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 8px 16px #787878;
}

.logo-rls::before{
    content: '';
    width: 32px;
    height: 24px;
    background-color: #CECECE;
    position: absolute;
    right: 4px;
    bottom: 0;
}
