.star-rating{
    list-style-type: none;
    display: flex;
    width: 152px;
    margin:0;
    padding: 0;
    justify-content: center;
    cursor: pointer;
}

.star-rating li:first-child{
    margin-left: -12px;
}

.star-rating__star{
    display: block;
    height: 20px;
    width: 20px;
    margin: 0;
    margin-left: 12px;
    cursor: pointer;
    transition: filter 100ms ease-in;
}

.star-rating__star--disabled{
    display: block;
    height: 20px;
    width: 20px;
    margin: 0;
    margin-left: 12px;
    cursor: auto;
}

.star-rating__star, .star-rating__star--disabled > svg {
    width: 20px;
    height: 20px;
}

.star-rating__star.selected ~ .star-rating__star{
    filter: invert(62%) sepia(83%) saturate(0%) hue-rotate(168deg) brightness(114%) contrast(93%);
}

.star-rating:hover .star-rating__star{
    filter: none;
}

.star-rating__star:hover ~ .star-rating__star{
    filter: invert(62%) sepia(83%) saturate(0%) hue-rotate(168deg) brightness(114%) contrast(93%);
}

.star-rating__star--disabled.selected ~ .star-rating__star--disabled{
    filter: invert(62%) sepia(83%) saturate(0%) hue-rotate(168deg) brightness(114%) contrast(93%);
}