.main-button{
    display: inline-block;
    width: 87px;
    height: 49px;
    left: 1458px;
    border: none;
    font-family: var(--font-DmSans);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-ice);
    background-color: var(--color-green);
}

.main-button--transparent{    
    background-color: transparent;
    color: var(--color-black);
    border: 1px solid var(--color-black);
}