.main-button{
    display: inline-block;
    left: 1458px;
    border: none;
    font-family: var(--font-DmSans);
    font-weight: 400;
    font-size: 16px;
    color: var(--color-ice);
    background-color: var(--color-green);
    padding: 14px 24px;
    cursor: pointer;
    transition: scale .1s ease-in-out;
}

.main-button:hover{
    scale: 1.05;
}

.main-button--transparent{    
    background-color: transparent;
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.main-button--large{
    font-weight: 700;
    font-size: 18px;
    padding: 24px 40px;
    text-transform: uppercase;
}