.nav-bar{
    display: flex;
    align-items: center;
    gap: 182px;
}

.nav-bar__list{
    display: flex;
    font-family: var(--font-DmSans);   
    font-weight: 400;
    font-size: 16px;
    width: 384px;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-bar__link{
    color: var(--color-black);  
    position: relative;
}

.nav-bar__link::after{
    content: '';
    position: absolute;
    display: flex;    
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid var(--color-green);
    transition: all .3s ease-in-out;
}

.nav-bar__link:hover::after{
    width: 100%;
    transform: translateX(-50%);
}