.nav-bar{
    display: flex;
    align-items: center;
    gap: 182px;
    position: relative;
}

.nav-bar__list{
    display: flex;
    font-family: var(--font-DmSans);   
    font-weight: 400;
    font-size: 16px;
    width: 384px;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-bar__link{
    color: var(--color-black);  
    position: relative;
}

.nav-bar__link::after{
    content: '';
    position: absolute;
    display: flex;    
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid var(--color-green);
    transition: all .3s ease-in-out;
}

.nav-bar__link:hover::after{
    width: 100%;
    transform: translateX(-50%);
}


@media (max-width: 575.98px){ /* Extra Small */
    .nav-bar{
        width: 100vw;
        max-width: 100%;
    }
    .nav-bar__menu[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 40px;
        width: 40px;
        position: fixed;
        z-index: 2;
        cursor: pointer;
    }
    
    .nav-bar__menu[type="checkbox"]::before {
        content: "\2261";
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        font-size: 40px;
        align-items: center;
        justify-content: center;
        color: var(--color-green);
    }
    
    .nav-bar__menu[type="checkbox"]:checked::before {
        content: "\1d5d1";
        font-family: var(--font-DmSans);
        display: flex;
        width: 40px;
        height: 40px;
        font-size: 40px;
        align-items: center;
        justify-content: center;
        color: var(--color-green);
        margin-top: -5px;
    }
           
    .nav-bar__list{
        flex-direction: column;
        gap: 20px;
        position: fixed;
        left: 3px;
        top: 0px;
        width: 50vw;
        background-color: var(--color-ice);
        border:solid 1px var(--color-green);
        padding: 20px;
        padding: 10px;
        padding-top: 60px;
        margin-top: 40px;
        z-index: 1;
        display: none;
    }

    .nav-bar__buttons{
        position: absolute;
        right: 20px;
        top: 0;
    }

}

@media (min-width: 576px) and (max-width: 767.98px){ /* Small */
    .nav-bar{
        width: 100vw;
        max-width: 100%;
    }

    .nav-bar__menu[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 40px;
        width: 40px;
        position: fixed;
        z-index: 2;
        cursor: pointer;
    }
    
    .nav-bar__menu[type="checkbox"]::before {
        content: "\2261";
        position: absolute;
        display: flex;
        width: 40px;
        height: 40px;
        font-size: 40px;
        align-items: center;
        justify-content: center;
        color: var(--color-green);
    }
    
    .nav-bar__menu[type="checkbox"]:checked::before {
        content: "\1d5d1";
        font-family: var(--font-DmSans);
        display: flex;
        width: 40px;
        height: 40px;
        font-size: 40px;
        align-items: center;
        justify-content: center;
        color: var(--color-green);
        margin-top: -5px;
    }
           
    .nav-bar__list{
        flex-direction: column;
        gap: 20px;
        position: fixed;
        left: 3px;
        top: 0px;
        width: 50vw;
        background-color: var(--color-ice);
        border:solid 1px var(--color-green);
        padding: 20px;
        padding: 10px;
        padding-top: 60px;
        margin-top: 40px;
        z-index: 1;
        display: none;
    }

    .nav-bar__buttons{
        position: absolute;
        right: 30px;
        top: 0;
    }

}

@media (min-width: 768px) and (max-width: 991.98px){ /* Medium */
    .nav-bar__menu[type="checkbox"]{
        display: none;
    }
    .nav-bar{
        gap: 50px;
    }
    .nav-bar__buttons{
        margin-right: 20px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){ /* Large */
    .nav-bar__menu[type="checkbox"]{
        display: none;
    }
    .nav-bar__buttons{
        margin-right: 20px;
    }
}

@media (min-width: 1200px){ /* Extra Large */
    .nav-bar__menu[type="checkbox"]{
        display: none;
    }
}
