.contact-us{
    width: 1170px;
    height: 350px;
    background-color: var(--color-green);
    margin: 120px auto 0 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    position: relative;
}

.contact-us__title h2{
    width: 610px;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: var(--color-ice);
}

.contact-us__button button{
    color: var(--color-ice);
    border-color: var(--color-ice);
}


.contact-us__waves{
    position: absolute;
    left: 832px;
    top: 105px;
    z-index: -1;
}

.contact-us__waves > figure > img{
    width: 460px;
    filter: drop-shadow(1px 0px 0px var(--color-light-gray));
    opacity: .5;
}