.footer-list{
    font-family: var(--font-DmSans);
}

.footer-list__h3{
    text-transform: uppercase;
    margin-bottom: 38px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: var(--color-black);
}

.footer-list__ul li {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-light-gray);
}

.footer-list__ul{
    display: flex;
    flex-direction: column;
    gap:18px;
}