.main-carousel{
    margin: 210px auto 85px;
    gap: 127px;
    display: flex;
    justify-content: center;
    transform: translateX(290px);
}

.main-carousel__image{
    transition: opacity ease-in;
}

.main-carousel__image.--margin{
    margin-right: 455px;
}

.main-carousel__menu{
    position: absolute;
}