.choice-menu{
    width: 370px;
    height: 455px;
}

.choice-menu__options{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 575.98px){ /* Extra Small */
    .choice-menu h2{
        font-size: 40px;
        width: 50%;
    }
}
